<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>News Aggregator</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <form class="search-form" action="/home" method="post">
        <a href="http://localhost:8080/home" class="home-button">
            <span class="fa fa-home"></span>
        </a>
        <input class="search-box" type="text" name="searchkey" placeholder="Enter keyword">
        <button class="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <script>
        document.querySelector('.search-form').addEventListener('submit', function(event) {
            var searchKey = document.querySelector('.search-box').value;
            event.preventDefault();
            window.location.href = '/search?searchkey=' + searchKey;
        }
    );
    </script>
    <div class="container">
        <div class="news-section">
            <h2 class="section-title">News</h2>
            <div class="news-item" th:each="index : ${#numbers.sequence(0, 19)}">
                <a class="news-link" th:href="${news[index].getLink}" target="_blank">
                    <div class="news-content">
                        <img class="news-image" th:src="${news[index].getImage}" alt="image">
                        <h3 class="news-title"><span th:text="${news[index].getTitle}"></span></h3>
                        <p class="news-description" th:text="${news[index].getDescription}"></p>
                        <p id="by" class="news-date-author"> <span class="news-date" th:text="${news[index].getPublishedDate}"></span> • by <span class="news-author" th:text="${news[index].getAuthor}"></span></p>
                        <p id="from">from <span class="news-source-website" th:text="${news[index].getSourceWebsite}"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="fromwebsite-section">
            <h2 class="fromwebsite-section-title">
                <form class="fromwebsite-option" id="resultOptionForm" action="/home" method="post">
                    <span>From</span>
                    <select name="selectWebsite" onchange="this.form.submit()">
                        <option th:value="${selectWebsite}" th:text="${selectWebsite}"></option>
                        <th:block th:if="${selectWebsite != 'All'}">
                            <option value="All">All</option>
                        </th:block>
                        <th:block th:each="websiteItem : ${websiteList}">
                            <th:block th:if="${websiteItem != selectWebsite}">
                                <option th:value="${websiteItem}" th:text="${websiteItem}"></option>
                        </th:block>
                    </select>
                </form>
            </h2>
            <div class="fromwebsite-list">
                <div class="fromwebsite-item" th:each="index : ${#numbers.sequence(0, 20)}">
                    <a class="fromwebsite-link" th:href="${dataForSpecificWebsite[index].getLink}" target="_blank">
                        <div class="fromwebsite-content">
                            <img class="fromwebsite-image" th:src="${dataForSpecificWebsite[index].getImage}" alt="image">
                            <h3 class="fromwebsite-title"><span th:text="${dataForSpecificWebsite[index].getTitle}"></span></h3>
                            <p id="by" class="fromwebsite-date-author"> <span class="fromwebsite-date" th:text="${news[index].getPublishedDate}"></span> • by <span class="fromwebsite-author" th:text="${news[index].getAuthor}"></span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
