<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab test nà</title>
</head>
<body>
    <div th:each="data : ${news}">
        <div>
            <h3 th:text="${data.getTitle}" style="color: blue"></h3>
            <p th:text="${data.getDescription}"></p>
            <p>Author: <span th:text="${data.getAuthor}"></span></p>
            <p>Date: <span th:text="${data.getDate}"></span></p>
            <p>Type: <span th:text="${data.getType}"></span></p>
            <p>Keywords: <span th:text="${data.getKeywords}"></span></p>
        </div>
        <hr>
    </div>
</body>
</html>