<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab test nà</title>
</head>
<body>
    <ul th:each="data : ${news}">
        <li th:text="${data.getLink}"></li>
        <li th:text="${data.getWebsite}"></li>
        <li th:text="${data.getTitle}"></li>
        <li th:text="${data.getDescription}"></li>
        <li th:text="${data.getAuthor}"></li>
        <li th:text="${data.getDate}"></li>
        <li th:text="${data.getType}"></li>
        <li th:text="${data.getKeywords}"></li>
    <div>----------------------------------------------</div>
    </ul>
</body>
</html>