<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Page</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <form class="search-form" action="/home" method="post">
        <input class="search-box" type="text" name="searchkey" placeholder="Enter keyword">
        <button class="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <div class="news-section" th:if="${result}">
        <h2 class="section-title">Search Result
        <form class="result-option" action="/home" method="post">
            <input type="hidden" name="searchkey" th:value="${searchkey}" />
            <select name="year" id="year-select" onchange="this.form.submit()">
                <option value="">None</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </form>
        </h2>



        <p class="result-count">The number of result found for <strong><span th:text="${searchkey}"></span></strong> is: <span th:text="${resultCount}"></span></p>
        <div class="news-item" th:each="data : ${result}">
            <a class="news-link" th:href="${data.getLink}">
            <div class="news-content">
                <img class="news-image" th:src="${data.getImage}" alt="image">
                <h3 class="news-title"><span th:text="${data.getTitle}"></span></h3>
                <p class="news-description" th:text="${data.getDescription}"></p>
                <p id="by" class="news-date-author"> <span class="news-date" th:text="${data.getPublishedDate}"></span> • by <span class="news-author" th:text="${data.getAuthor}"></span></p>
                <p id="from">from <span class="news-source-website" th:text="${data.getSourceWebsite}"></span></p>
            </div>
            </a>
        </div>
    </div>
    <div class="news-section" th:unless="${result}">
        <h2 class="section-title">News</h2>
        <div class="news-item" th:each="data : ${news}">
            <a class="news-link" th:href="${data.getLink}">
            <div class="news-content">
                <img class="news-image" th:src="${data.getImage}" alt="image">
                <h3 class="news-title"><span th:text="${data.getTitle}"></span></h3>
                <p class="news-description" th:text="${data.getDescription}"></p>
                <p id="by" class="news-date-author"> <span class="news-date" th:text="${data.getPublishedDate}"></span> • by <span class="news-author" th:text="${data.getAuthor}"></span></p>
                <p id="from">from <span class="news-source-website" th:text="${data.getSourceWebsite}"></span></p>
            </div>
            </a>
        </div>
    </div>
</body>
</html>
