<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Page</title>
</head>
<body>
    <h2>Search</h2>
    <form action="/home" method="post">
        <input type="text" name="keyword" placeholder="Enter keyword">
        <button type="submit">Search</button>
    </form>
    <div th:if="${result}">
        <h2>Search Result</h2>
        <div th:each="data : ${result}">
            <div>
                <a th:href="${data.getLink}">
                    <h3 th:text="${data.getTitle}" style="color: blue"></h3>
                </a>                
                <p th:text="${data.getDescription}"></p>
                <p>Author: <span th:text="${data.getAuthor}"></span></p>
                <p>Date: <span th:text="${data.getDate}"></span></p>
                <p>Type: <span th:text="${data.getType}"></span></p>
                <p>Keywords: <span th:text="${data.getKeywords}"></span></p>
            </div>
            <hr>
        </div>
    </div>
    <div th:unless="${result}">
        <h2>News</h2>
        <div th:each="data, iterStat : ${news}" th:if="${iterStat.index < 10}">
            <a th:href="${data.getLink}">
                <h3 th:text="${data.getTitle}" style="color: blue"></h3>
            </a>                
            <p th:text="${data.getDescription}"></p>
            <p>Author: <span th:text="${data.getAuthor}"></span></p>
            <p>Date: <span th:text="${data.getDate}"></span></p>
            <p>Type: <span th:text="${data.getType}"></span></p>
            <p>Keywords: <span th:text="${data.getKeywords}"></span></p>
        </div>
        <hr>
    </div>
</div>
</body>
</html>
